@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-anvaya-charcoal text-gray-100 antialiased;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #1e293b;
  }
  ::-webkit-scrollbar-thumb {
    background: #475569;
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #64748b;
  }

  *:focus-visible {
    @apply outline-none ring-2 ring-anvaya-cobalt ring-offset-2 ring-offset-anvaya-charcoal;
  }
}
